[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {file = "https://download.pytorch.org/whl/lts/1.8/cu102/torch-1.8.2%2Bcu102-cp38-cp38-win_amd64.whl", sys_platform = "== 'win32'"}
pillow = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
